@charset "utf-8";
html, body{
    background:#000;
    font-family: sans-serif;
    font-size: 14px;
    width:100%;
    height:100%;
}
#wrap{
    width:100%;
    height:100%;
}

#wrap>div{
    width:100%;
    height:100%;
}


/* 내비게이션 */

#gnb{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    background:rgba(0, 0, 0, 0.5);
    z-index:99999;
}
#gnb>ul{
    width:800px;
    height:80px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}
#gnb a{
    display:block;
    width:240px;
    height:80px;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    color:#fff;
}
#gnb>ul>li:nth-child(1)>a{
    text-shadow: 3px 3px 3px red;
}
#gnb>ul>li:nth-child(2)>a{
    text-shadow: 3px 3px 3px yellow;
}
#gnb>ul>li:nth-child(3)>a{
    text-shadow: 3px 3px 3px Green;
}
#gnb>ul>li:nth-child(4)>a{
    text-shadow: 3px 3px 3px blue;
}
#gnb>ul>li:nth-child(5)>a{
    text-shadow: 3px 3px 3px plum;
}

/* 내비게이션2 */


#pagerBtn{
    position: fixed;
    top:50%;
    transform:translateY(-50%);
    right:50px;
    width:18px;
    height:auto;
    z-index:99999;

}
#pagerBtn li{
    margin-bottom:9px;
}
#pagerBtn a{
    display: block;
    width:18px;
    height:18px;
    border-radius: 50%;
}
#pagerBtn>ul>li:nth-child(1)>a{
   background: red;
}
#pagerBtn>ul>li:nth-child(2)>a{
    background: yellow;
}
#pagerBtn>ul>li:nth-child(3)>a{
    background: green;
}
#pagerBtn>ul>li:nth-child(4)>a{
    background: blue;
}
#pagerBtn>ul>li:nth-child(5)>a{
    background: purple;
}




/* 메인콘텐츠 */

#conts1{
    display:flex;
    justify-content: space-between;
    overflow:hidden;
}

#park_group{
    width:10%;
    height:100%;
}


#park{
    position:absolute;
    width:170px;
    height:170px;
    border-radius: 50%;
    overflow-y: hidden;
    animation:ribon  5s 1s infinite linear alternate;}/* 멈추지 않고 계속해서 움직인다 */
   /*  animation-name
    animation-duration
    animation-delay
    animation-iteration-count
    animation-timing-fuction */
  /*   animation-direction: alternate; 시작에서 끝 그리고 끝에서 시작 형태로 반복된다. */

  @keyframes ribon{
    from{left:89%; background:rgba(255, 0, 0, 0.2);}
    to{left:0%; background: rgb(255, 0, 0, 1);}
    100%{

        background: rgba(255, 0, 0, 0.2);/* 배경색 */
      transform:rotate(45deg)
    }
    75%{
        

        background: rgba(255, 0, 0, 0.4);/* 배경색 */
        transform:rotate(30deg)
    }
    50%{       
        background: rgba(255, 0, 0, 0.6);/* 배경색 */
        transform:rotate(10deg)
    }
    25%{

        background: rgb(255, 0, 0, 0.8);/* 배경색 */
        transform:rotate(-15deg)
    }
    0%{

        background: rgb(255, 0, 0, 1);/* 배경색 */
        transform:rotate(-50deg)
    }
        
}
#park2{
    position:absolute;
    width:170px;
    height:170px;
    border-radius: 50%;
    top:170px;
    overflow-y: hidden;
    animation:ribon2  5s 1s infinite linear alternate;}/* 멈추지 않고 계속해서 움직인다 */
   /*  animation-name
    animation-duration
    animation-delay
    animation-iteration-count
    animation-timing-fuction */
  /*   animation-direction: alternate; 시작에서 끝 그리고 끝에서 시작 형태로 반복된다. */

  @keyframes ribon2{
        100%{
            left:89%;
            background: rgba(251, 255, 0, 0.2);/* 배경색 */
          transform:rotate(45deg)
        }
        75%{
            

            background: rgba(251, 255, 0, 0.4);/* 배경색 */
            transform:rotate(30deg)
        }
        50%{       
            background: rgba(251, 255, 0, 0.6);/* 배경색 */
            transform:rotate(10deg)
        }
        25%{

            background: rgb(251, 255, 0, 0.8);/* 배경색 */
            transform:rotate(-15deg)
        }
        0%{
            left:0%;
            background: rgb(251, 255, 0, 1);/* 배경색 */
            transform:rotate(-50deg)
        }
}
#park3{
    position:absolute;
    width:170px;
    height:170px;
    border-radius: 50%;
    top:340px;
    overflow-y: hidden;
    animation:ribon3 5s 1s infinite linear alternate;}/* 멈추지 않고 계속해서 움직인다 */
   /*  animation-name
    animation-duration
    animation-delay
    animation-iteration-count
    animation-timing-fuction */
  /*   animation-direction: alternate; 시작에서 끝 그리고 끝에서 시작 형태로 반복된다. */

  @keyframes ribon3{
        100%{
           left:0%;
          background: rgba(24, 204, 0, 0.2);/* 배경색 */
          transform:rotate(45deg)
        }
        75%{

            background: rgba(24, 204, 0, 0.4);/* 배경색 */
            transform:rotate(30deg)
        }
        50%{

            background: rgba(24, 204, 0, 0.6);/* 배경색 */
            transform:rotate(10deg)
        }
        25%{

            background: rgb(24, 204, 0, 0.8);/* 배경색 */
            transform:rotate(-15deg)
        }
        0%{
            left:89%;
            background: rgb(24, 204, 0, 1);/* 배경색 */
            transform:rotate(-55deg)
        }
}
#park4{
    position:absolute;
    width:170px;
    height:170px;
    top:510px;
    border-radius: 50%;
    overflow-y: hidden;
    animation:ribon4 5s 1s infinite linear alternate;}/* 멈추지 않고 계속해서 움직인다 */
   /*  animation-name
    animation-duration
    animation-delay
    animation-iteration-count
    animation-timing-fuction */
  /*   animation-direction: alternate; 시작에서 끝 그리고 끝에서 시작 형태로 반복된다. */

  @keyframes ribon4{
        100%{
            left:89%;
          background: rgba(0, 68, 255, 0.2);/* 배경색 */
          transform:rotate(45deg)
        }
        75%{
            

            background: rgba(0, 68, 255, 0.4);/* 배경색 */
            transform:rotate(30deg)
        }
        50%{

            
            background: rgba(0, 68, 255, 0.6);/* 배경색 */
            transform:rotate(10deg)
        }
        25%{

            background: rgb(0, 68, 255, 0.8);/* 배경색 */
            transform:rotate(-15deg)
        }
        0%{
            left:0%;
            background: rgb(0, 68, 255, 1);/* 배경색 */
            transform:rotate(-60deg)
        }
    }
#park5{
    position:absolute;
    width:170px;
    height:170px;
    border-radius: 50%;
    top:680px;
    overflow-y: hidden;
    animation:ribon5 5s 1s infinite linear alternate;}/* 멈추지 않고 계속해서 움직인다 */
    /*  animation-name
    animation-duration
    animation-delay
    animation-iteration-count
    animation-timing-fuction */
    /*   animation-direction: alternate; 시작에서 끝 그리고 끝에서 시작 형태로 반복된다. */

    @keyframes ribon5{
        100%{
            left:0%;
            background: rgba(158, 0, 150, 0.2);/* 배경색 */
            transform:rotate(45deg)
        }
        75%{
            
            background: rgba(158, 0, 150, 0.4);/* 배경색 */
            transform:rotate(30deg)
        }
        50%{

            background: rgba(158, 0, 150, 0.6);/* 배경색 */
            transform:rotate(10deg)
        }
        25%{

            background: rgb(158, 0, 150, 0.8);/* 배경색 */
            transform:rotate(-15deg)
        }
        0%{
            left:89%;
            background: rgb(158, 0, 150, 1);/* 배경색 */
            transform:rotate(-65deg)
        }
        
        
}



#const1_Tit{
    width:90%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tit{
    position: relative;
    top:-80px;
    width:800px;
    height:auto;
}

.tit>span{
    display:block;
    margin:0 auto;
    font-family: "나눔손글씨 붓";
    color:white;
    font-size:70px;
    text-align: center;
}

/* 콘텐츠2 */
#conts2{
    width:100%;
    height:980px;
}
#about{
    position: relative;
    top:52%;
    transform: translateY(-50%);
    width:80%;
    height:auto;
    margin:0 auto;
}

 #about div{
    line-height: 28px;
    color:white;
    text-align: center;
    font-size: 16px;
    margin:0 auto;
    font-family: "나눔바른펜";
}
.go{
    color:#fff;
    text-shadow: 3px 3px 3px red;
}
.box1{
    width:310px;
    margin:0 auto;
    padding-top:20px;
} 
.b1{
    width:85px;
    color:#fff;
    text-shadow: 3px 3px 3px rgb(255, 255, 0);
}
.edu{
    padding-top:2px;
    width:260px;
    height:110px;
    text-align: center;
    line-height: 22px;
    margin:0 auto;
    text-shadow: 3px 3px 3px rgb(255, 255, 0);

}
.box2{
    justify-content: space-between;
    width:380px;
    margin:0 auto;
    padding-top:20px;
}
.b2{
    width:85px;
    color:#fff;
    text-shadow: 3px 3px 3px rgb(0, 255, 0);
}
.exp{
    padding-top:2px;
    width:246px;
    height:70px;
    text-align: center;
    line-height: 22px;
    margin:0 auto;
    text-shadow: 3px 3px 3px rgb(0, 255, 0);
}
.box3{
    width:275px;
    margin:0 auto;
    padding-top:20px;
}
.b3{
    width:55px;
    color:#fff;
    text-shadow: 3px 3px 3px rgb(68, 0, 255);
}
.car{
    padding:2px 0;
    width:196px;
    height:130px;
    text-align: center;
    line-height: 22px;
    margin:0 auto;
    text-shadow: 3px 3px 3px rgb(68, 0, 255);
}

.skill{
    padding-top:20px;
    width:90%;
    letter-spacing: 1px;
    text-shadow: 3px 3px 3px rgb(247, 0, 255);
}

.skill>span{
    display:block;
    margin:0 auto;
}


/* 콘텐츠3 */

.switch{  position:absolute;
    color:#fff;
    cursor: pointer;
    font-size: 20px;
    z-index:99999;
    left:200px;
    bottom:800px;
}

.blackbg{
    position:absolute;
    background:rgba(0, 0, 0, 0.9);  
    z-index: 99;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#conts3{
    position: relative;
    background:url("../images/brush1.png")no-repeat;
}

#conts3>ul{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    width:100%;
    height:80%;
    display:flex;
    justify-content: space-around;
    align-items: center;   
}

#conts3>ul>li{
    width:20%;
    height:82%;
}


#conts3>ul>li>img{
    width:100%;
    height:auto;
}


/* 콘텐츠4 */

#conts4{
    position: relative;
    top:60px;
    display:flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
}
#app{
    display:flex;
    flex-direction: column;
    background:url("../images/sss.png")no-repeat bottom /430px 172px;
}
#app2{
    display:flex;
    flex-direction: column;
    background:url("../images/sss.png")no-repeat bottom /430px 172px;
}

#conts4>div{
    width:40%;
    height:800px;
}
.ftext{
    padding-top:100px;
    font-family: "나눔손글씨 붓";
    color:#fff;
    text-shadow: 2px 2px 2px red;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
}
.ftext2{
    padding-top:100px;
    font-family: "나눔손글씨 붓";
    color:#fff;
    text-shadow: 2px 2px 2px blue;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
}
.end{
    display:none;
    text-align: center;
    width:660px;
    font-size:20px;
    color:#fff;
    text-shadow: 2px 2px 2px red;
    margin:15px auto;
}

.end2{
    display:none;
    text-align: center;
    width:660px;
    font-size:20px;
    color:#fff;
    text-shadow: 2px 2px 2px blue;
    margin:15px auto;
}
#app>img, #app2>img{

    display:none;
    width:599px;
    height:433px;
    margin:0 auto;
}
#mg1{
    width:200px;
    height:200px;
    position:absolute;
    bottom:50px;
    left:0;
    z-index: -99;
}
#mg2{
    width:200px;
    height:200px;
    position:absolute;
    bottom:50px;
    right:0;
    z-index: -9;

}
    /* 콘텐츠5 */
    #conts5{
        position: relative;
        width:100%;
        top:56px;
        overflow: hidden;
    }
#mainVisual{
    position: relative;

    width:90%;
    height:auto;
}

.s1{
    width:45%;
    height:900px;
    margin:0 auto;
    position: relative;
    top:40px;

}

.s1>img{
    width:80%;
    height:auto;
    margin:0 auto;
}
.s_Tit{
    margin:66px 0 10px 0;
    color:white;
    font-size: 30px;
    font-family: "나눔바른펜";
    text-align: center;
}
.s_content{
    color:white;
    font-size:16px;
    line-height:24px;
}
.color{
    width:80px;
    height:20px;
    background:#ff6600;
    border:2px solid white;
}
.color2{
    width:80px;
    height:20px;
    background:#000000;
    border:2px solid white;
}
.color3{
    width:80px;
    height:20px;
    background:#ffffff;
    border:2px solid white;
}
.color4{
    width:80px;
    height:20px;
    background:#990000;
    border:2px solid white;
}
.color5{
    width:80px;
    height:20px;
    background:#9c7754;
    border:2px solid white;
}
.color6{
    width:80px;
    height:20px;
    background:#ffcccc;
    border:2px solid white;
}
.color10{
    width:80px;
    height:20px;
    background:#3366ff;
    border:2px solid white;
}
.color7{
    width:80px;
    height:20px;
    background:#ff3366;
    border:2px solid white;
}
.color8{
    width:80px;
    height:20px;
    background:#ffff33;
    border:2px solid white;
}
.color9{
    width:80px;
    height:20px;
    background:#ff9933;
    border:2px solid white;
}
.s_content{
    color:white;
    font-size:16px;
    line-height:24px;
}
.btn{
    margin:5px 0;
    width:200px;
    height:auto;
    left:500px;
    position: relative;
    }
.btn>a>img{
    position: relative;
    top:-16px;
    left:120px;
}
.btn>a{
    display:block;
    width:100%;
    height:auto;
    font-family: "맑은 고딕";
    color:white;
    font-size: 16px;
    border:2px solid white;
    font-weight: 600;
    padding:10px 0 0 10px;
}

.s1>ul>li{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.s1>ul>li>div:nth-child(2),.s1>ul>li>div:nth-child(4),.s1>ul>li>div:nth-child(6),.s1>ul>li>div:nth-child(8){
    margin:2px 10px;
}
