@charset "utf-8";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
	margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#000;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #000;
	color: rgba(0,0,0,0.5);
	font-family: sans-serif;
    font-size: 16px;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 2.2em;
}
p{
	color:#000;
	font-size: 1.2em;
}
.intro{position:relative;}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
.site{
    position:absolute;
    width:128px;
    height:30px;
    border:2px solid #000;
    border-radius:5px;
    padding-top:4px;
    z-index:999999;
    top:81.4%;
    left:38.8%;
}

.site>a{
    display:block;
    width:124px;
    height:30px;
    color:#000;
}

#about{
    position: relative;
    top:40%;
    transform: translateY(-50%);
    width:80%;
    height:auto;
    margin:0 auto;
}

 #about div{
    line-height: 28px;
    color:#000;
    text-align: center;
    font-size: 16px;
    margin:0 auto;
    font-family: "나눔바른펜";
}
.go{
    color:#000;

}
.box1{
    width:310px;
    margin:0 auto;
    padding-top:20px;
    font-size: 14px;
} 
.b1{
    width:85px;
    color:#000;

}
.edu{
    padding-top:2px;
    width:260px;
    height:110px;
    text-align: center;
    line-height: 22px;
    margin:0 auto;
	color:#000;
    font-size: 16px;
}
.box2{
    justify-content: space-between;
    width:380px;
    margin:0 auto;
    padding-top:20px;
    font-size: 16px;
}
.b2{
    width:85px;
    color:#000;

}
.exp{
    padding-top:2px;
    width:246px;
    height:70px;
    text-align: center;
    line-height: 22px;
    margin:0 auto;
    color:#000;
    font-size: 16px;
}
.box3{
    width:275px;
    margin:0 auto;
    padding-top:20px;
    font-size: 16px;
}
.b3{
    width:55px;
    color:#000;
    font-size: 16px;
}
.car{
    padding:2px 0;
    width:196px;
    height:130px;
    text-align: center;
    line-height: 22px;
    margin:0 auto;
    color:#000;
    font-size: 16px;
}

.skill{
    padding-top:20px;
    width:90%;
    letter-spacing: 1px;
}

.skill>span{
    display:block;
    margin:0 auto;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}




