@charset "utf-8";


#mainVisual{
    position: relative;
    width:940px;
    height:300px;
    overflow: hidden;
    margin:0 auto;
}

#mainVisual>ul{
    height:300px;
    border:1px solid #000;
}

#mainVisual>ul:after{
    content:"";
    display:block;
    clear:both;
}

#mainVisual>ul>li{
    float:left;
}

ul{
    position: relative;
    width:2850px;
}

#btn{
    position: absolute;
    bottom:-20px;
}