@charset "utf-8";

#wrap{
    width:100%;
}

header{
    width:100%;
}

#headerin{
    position:relative;
    margin: 0 auto;
    width:100%;
    height:710px;
    background:url("../images/bg.jpg")no-repeat center / cover;
    /* border:1px solid #000; */
}
#gnb{
    position: absolute;
    width:1220px;
    height:98px;
    background:white;
    top:3%; 
    left:18.5%;
}
#gnb>ul{
    width:100%;
    height:98px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 0
    
}
.logo>a{
    display:block;
    font-size: 28px;
    color:#99734e;
    font-family: "Charlemagne Std", serif;
}

#gnb>ul>li>a{
    font-family: "Century Gothic", sans-serif;
    color:#666;
    font-size: 18px;
    font-weight: 600;
}

main{
    position: relative;
    width:100%;
}
.tour{
    position: absolute;
    bottom:-100px;
    left:18.5%;
    width:1220px;
    height:344px;
    z-index:9999;
    
}
.tour>ul{
    position: absolute;
    width:1220px;
    height:344px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.tour div{
    width:216px;
    height:344px;
    border:1px solid #ccc;
    background:#fff;
}
.click{
    display:block;
    display: flex;
    justify-content: flex-end;
    padding:5px 0 0 5px;
    font-size:24px;
}
.tour>ul>div img{
    width:216px;
}

h4{
    font-size: 16px;
    padding:0 10px;
    line-height: 28px;
}
.t2{
    font-size: 14px;
    padding:0 10px;
}

.mainspace{
    width:100%;
}


.icon{
    position: relative;
    width:100%;
    height:502px;
    background:#efecec;

}
.icon>ul{
    width:1100px;
    height:502px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    top:20px;
}
.icon>ul>li{
    text-align: center;
    width:350px;
    border-right:1px solid grey;
}

.icon>ul>li:nth-child(2){
    width:400px;
}


.icon>ul>li:last-child{
    border:0;
}

.icon>ul>li>img{
    width:160px;
    height:160px;
}

.icon p{
    text-align: center;
}

.btn{
    width:110px;
    height:24px;
    text-align: center;
    background:#fff;
    border:1px solid grey;
    margin:20px auto 0 auto;
    font-size:14px;
    line-height: 20px;
}
.btn a{
    font-family: "Century Gothic",sans-serif;
    color:grey;
}
.centerline{
    width:100%;
    height:300px;
    background:url("../images/center.jpg") no-repeat center/cover;
}
.centerline>ul{
    width:100%;
    height:300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.centerline>ul>h1{
    position: relative;
    font-size: 28px;
    color:#fff;
    bottom:20px;
}
.centerline strong{
    color:#99734e;
}
.centerline p{
    position: relative;
    bottom:15px;
    font-size: 18px;
    color:#fff;
}
.btn2{
    position: relative;
    top:20px;
    width:566px;
    display:flex;
    justify-content: space-between;
}
.btn2>a{
    position:relative;
    display:block;
    padding:15px 15px;
    color:#fff;
    font-size: 22px;
    border:2px solid #fff;
}
.btn2>a img{
    position: relative;
    left:5px;
}

.speciality{
    width:100%;
    height:736px;
}
.speciality>ul{
    width:100%;
    height:736px;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: space-around;
}
.spc:after{
    content:"";
    display:block;
    width:168px;
    height:1px;
    background:#99734e;
    position: relative;
    top:30px;
    margin:0 auto;
}
.spc{
    margin:0 auto;
    font-size: 30px;
    font-family: "century Gothic"
}
.spcb{
    position: relative;
    top:-80px;
    margin:0 auto;
}
.icon2{
    margin:0 auto;
}
.icon2>ul{
    position: relative;
    width:1050px;
    display: flex;
    justify-content: space-between;
    top:-60px;
}
.icon2>ul>li{
    position:relative;
    width:150px;
}

.icon2>ul>li>a{
    display:block;
    width:150px;
    height:80px;
    text-align: center;
}


.icon2>ul>li:nth-child(odd)>a>img{
    margin-top:7px;
}

.icon2>ul>li>p{
    text-align: center;
}

.btn3{
    position: relative;
    top:-30px;
    width:308px;
    margin:0 auto;
}
.btn3>a{
    display:block;
    font-family: "맑은 고딕";
    position:relative;
    padding:15px 15px;
    color:grey;
    font-size: 20px;
    border:2px solid grey;
    font-weight: 600;
}
.btn3>a>img{
    position: relative;
    top:10px;
    left:10px;
}
.rooms{
    width:100%;
    height:1148px;
    background:#e4e4e4;
}

.rooms>ul{
    width:100%;
    height:1148px;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: space-around;
}
.text3:after{
    content:"";
    display:block;
    width:168px;
    height:1px;
    background:gray;
    position: relative;
    top:30px;
    margin:0 auto;
}
.text3{
    margin:0 auto;
    font-size: 30px;
    font-family: "century Gothic"
}
.text4{
    margin:0 auto;
    position: relative;
    top:-40px;
}
.btn4{
    margin:0 auto;
    position: relative;
    top:-30px;
    width:250px;
    background: #999;
}
.btn4>a{
    display:block;
    font-family: "맑은 고딕";
    position:relative;
    padding:15px 15px;
    color:#333;
    font-size: 20px;
    border:2px solid grey;
    font-weight: 600;
}
.btn4>a>img{
    position: relative;
    top:10px;
    left:10px;
}
#gall>ul>li>div{
    width:364px;

}

.over{
    position:relative;
    width:364px;
    height:auto;
}

.over img{
    width:364px;
    height:auto; /* 넓이값에따라 높이값은 자동설정되게만들어주는속성 */
}

.text{
    position:absolute;
    top:0;
    left:0;
    display:block;
    opacity: 0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    font-size: 46px;
    text-align: center;
    color: #fff;
    line-height:300px;
    transition: all 0.5s;
}

.over:hover .text{
    opacity: 1;
}

#gall p{
    text-align: center;
    padding: 20px 0 ;
    background: aliceblue;
}

#gall{
    width:1220px;
    margin : 0 auto;

}

#gall>ul{
    display:flex;
    flex-wrap:wrap;
    justify-content : space-between;
}

#gall>ul>li:nth-child(1), #gall>ul>li:nth-child(2), #gall>ul>li:nth-child(3){
    margin-bottom:60px;
}
footer{
    width:100%;
}


.footerin1{
    
    width:100%;
    height:346px;
    background:#666;
    
}
.fspace1{
    width:1220px;
    height:346px;
    display: flex;
    position: relative;
    justify-content:space-between;
    align-items: center;
    margin:0 auto;
}


.flogo>a{
    display:block;
    font-size: 28px;
    color:#fff;
    font-family: "Charlemagne Std", serif;
}

#fgnb{
    width:940px;
}

#fgnb>ul>li{
    display:flex;
    width:940px;
}

#fgnb>ul>li>p{
    width:154px;
    height:30px;
    text-align: center;
    font-size: 18px;
}
#fgnb>ul>li>p:last-child, #fdepth2>li:last-child a{
    border-right:0;
}
#fdepth2{
    display:flex;
    width:940px;
    font-size: 14px;
}


#fgnb p, #fdepth2 a{
    display: block;
    width:154px;
    height:28px;
    line-height: 24px;
    font-family: "맑은 고딕";
    text-align: center;
    color:#fff;
    border-right:1px solid #fff;
}
.footerin2{
    width:100%;
    height:128px;
    background:#333;
}
.fspace2{
    width:1220px;
    height:128px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    font-size:16px;
    line-height: 24px;
}
address{
    font-style:normal;
}
.fspace2>p{
    font-size: 18px;
}


