@charset "utf-8";

/* 모바일> 테블릿 > pc */
/* 
1. 모바일 : 320~767px 

2.테블릿 : 768~1023px

랩탑(노트북) : 1024~1280px

3.pc : 1024~1920px */

/* 
미디어쿼리 정의

1. 모바일은 배제(정의하지 않아도된다.)
2. 테블릿 모드 미디어 쿼리 
    @media all and (min-width:768px){
        768px 화면 이상부터는 테블릿 모드를 지원한다.
    }

3. pc모드 미디어 쿼리 
    @media all and (min-width:1200px){
        1200px 화면 이상부터는 테블릿 모드를 지원한다.
    } */

/* All Mobile code */
    div{
        width:100px;
        height: 100px;
        border:1px solid #000;
        background: #ccc;

    }

/* Tablet Mode Code  */
@media all and (min-width:768px){
   div{background: #f00;} 
}

/* PC Mode Code  */
@media all and (min-width:1200px){
   div{background:#00f;} 
}
