@charset "utf-8";

/* All Mobile Code */

#wrap{
    width:100%;

}

header{
    width:100%;
}

#headerin{
    width:100%;
    height:60px;
    /* header의 높이는 50~60px가 적격 */
    border-bottom: 1px solid #000;
}
.logo{ 
    position: relative;
    top:5px;
    width:70px;
    height: 50px;
    margin: 0 auto;
}

.logo img{
    width:70px;
    height: 50px;
}

.opbtn{
    position: relative;
    right: 20px;
    top:-43px;
    width:45px;
    height:45px;
    background: #ccc;
    margin-left: auto;
}

.opbtn>a{
    display: block;
    width:45px;
    height: 45px;
}

#gnb{
    position:fixed;
    width:100%;
    height:auto;
    top:60px;
    left:0;
    background: rgba(255,255,255,0.5);
    display: none; 
    z-index: 99;
}

#gnb a{
    display:block;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color:#fff;
}

.blackbg{
    position:fixed;
    top:60px;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 99;
    display:none; 
}



/* Bxslider css fix */
#mainvisual{
    margin-bottom:20px;
}

#mainvisual .bx-wrapper{
    border:0; /* 5두께의 선을 제거시킴  */
    margin-bottom: 0;
}

#mainvisual .bx-wrapper .bx-pager,
#mainvisual .bx-wrapper .bx-controls-auto{
    bottom: 10px;
}



/* Bxslider 영역안에 글자 심어넣기 */

#mainvisual{
    position: relative;
}

.slider p{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.8);
    color:#fff;
    padding: 10px 20px;
    font-size: 3vw;
    /* vw단위는 브라우저의 넓이에 따라 글의 크기가 변화도록 만들어주는 문자 단위다. */
}


#cont2{
    max-width:400px; /* 테블릿 화면 전까지 뻣어 나갈 수 있는 최대치의 넓이 */
    width:90%;  /* 모바일화면에서의 초기 넓이값 */
    height: auto;
    margin: 0 auto; 
    border:1px solid #000;

}

#cont2 li{
    width:100%;
    margin-bottom:30px;
}
#cont2 img{
    width:100%;
}

#cont2>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;} 


@media all and (min-width:768px){

    #cont2{
        max-width:700px;
    }



    #cont2 li{
        width:320px;
        margin-bottom:50px;
    }

        
}

@media all and (min-width:1200px){

    #cont2{
        max-width:1200px;
    }

    #cont2 li{
        width:350px;
        margin-bottom: 50px;
    }

}