@charset "utf-8";
    
#search{
    width:100%;
    background: #ccc;
    padding:5px 0;
}

.searchIn{
    position: relative;
    width: calc(100% - 10px);
    margin:0 auto;
}

input{
    position: relative;
    display:block;
    width: 100%;
    height:40px;
    border:0;
    background: #fff url("../images/search.PNG") no-repeat center right / 30px 30px;
    text-indent:150px;
}

.searchIn:before{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:10px;
    content:"통합검색";
    display:block;
    font-size:14px;
    color:gray;
    z-index:999;
    font-weight: 600;
}

.arrow{
    display:block;
    position: absolute;
    top:45%;
    transform: translateY(-50%);
    left:90px;
    display:block;
    width:20px;
    height:20px;
    background: url("../images/arrow.png") no-repeat center / cover;
}




/* X 버튼 제거 */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
